# OS
**/*.DS_Store
**/Thumbs.db

# IDE
**/.vscode
**/*.idea
**/*.iml

# Backend
**/__pycache__
**/*.pyc
BackEndFlask/BackEndFlaskVenv
**/*.db
**/*.db-journal
**/*.rdb
**/*.log

# Frontend
FrontEndReact/node_modules
