services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "127.0.0.1:5050:5000"
    depends_on:
      redis:
        condition: service_started
      mysql:
        condition: service_healthy
    volumes:
      # Mount the source files inside the container to allow for Flask hot reloading to work
      - "./BackEndFlask/Functions:/app/Functions:rw"
      - "./BackEndFlask/controller:/app/controller:rw"
      - "./BackEndFlask/core:/app/core:rw"
      - "./BackEndFlask/models:/app/models:rw"
    networks:
      - app-network
    environment:
      - REDIS_HOST=redis
      - FLASK_DEBUG=1
      - MYSQL_HOST=mysql
      - MYSQL_USER=skillbuilder
      - MYSQL_PASSWORD=WasPogil1#
      - MYSQL_DATABASE=account

  redis:
    image: redis:7.2.4
    ports:
      - "127.0.0.1:6379:6379"
    networks:
      - app-network

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      # Mount the source files inside the container to allow for React hot reloading to work
      - "./FrontEndReact/src:/app/src:ro"
      - "./FrontEndReact/public:/app/public:ro"
      # Store React build cache in a volume to allow it to persist between container builds
      # This improves startup time
      - "frontend-cache:/app/node_modules/.cache"
    environment:
      - REACT_APP_API_URL=http://localhost:5050/api
    networks:
      - app-network

  mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: account
      MYSQL_USER: skillbuilder
      MYSQL_PASSWORD: WasPogil1#
    ports:
      - "5551:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  app-network:
    driver: bridge

volumes:
  mysql-data:
  frontend-cache:
