[Unit]
Description=Gunicorn instance to server rubricapp
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/POGIL_PRODUCTION/rubricapp
Environment="PATH=/home/ubuntu/POGIL_PRODUCTION/pogilenv/bin/"
ExecStart=ExecStart=/home/ubuntu/POGIL_PRODUCTION/pogilenv/bin/gunicorn --workers 3 --bind unix:rubricapp.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
