.app-body { 
  min-height: 100vh;
  background-color: #F8F8F8;
}
/* Primary Color */
.primary-color {
  background-color: #2E8BEF !important;
}
/* Title font */
h4, h5 {
  font-family: Roboto !important;
  font-weight: 700 !important;
}

/* Page alignment */
.page-spacing {
  display: flex; 
  flex-direction: column;
  gap: 20px;
  padding: var(--2, 20px) var(--6, 48px);
}

/* Secondary elements alignment */
.content-spacing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid #D9D9D9;
}

.subcontent-spacing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: var(--none, 0px) var(--none, 16px);
}

.table-spacing {
  padding: var(--none, 0px) var(--none, 16px);
}

/* Form Alignment and Position */
.card-spacing {
  display: flex; 
  flex-direction: column;
  gap: 20px;
  padding: var(--2, 0px) var(--6, 48px);
}

.form-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-spacing {
  width: 100%; 
  gap: 20px;
}

.form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-style {
  display: flex;
  width: 50%;
  padding: var(--3, 20px);
  border-radius: 10px;
  border-top: 3px solid #2E8BEF ;
  background:#FFF;
}

.assessment-task-spacing {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.assessment-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--2, 16px) ;
  border-radius: 10px;
  border-top: 3px solid #2E8BEF ;
  background:#FFF;
  margin-bottom: 20px;
}

.checkbox-alignment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #D9D9D9;
  color: black;
  border-radius: 0.25rem;
  margin: 0.25rem;
}

.checkbox-spacing {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* OLD CSS */

/*-------------------------------------------------
 Was from AddSyles.css
-------------------------------------------------*/
label {
    float: left;    
    text-align: left;
}

input {
    margin-left: .25em;
    margin-bottom: .5em;
    max-width: 100%;
    width: 40em;    
}

#outside {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    background-color: #abd1f9;
    margin: 2em auto auto auto;
    max-width: 600px;
    border: 3px solid white;
    padding: 0 1em 1em;
}

#OCLabel {
    width:auto;
}

#OCLabel {
    width:auto;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/*-------------------------------------------------
 Was from App.css
-------------------------------------------------*/
.container {
    text-align: center;
  }
  
  .adminHeader {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    /* font-size: calc(10px + 2vmin); */
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    /*font-family: 'Cabin;*/
  }
  
  .site-title {
    font-size: 2rem;
  }
  
  .navbar {
    background-color: #2E8BEF;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
  }
  
  .navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .navbar a {
    color: inherit;
    text-decoration: none;
    /* height: 100%; */
    display: flex;
    align-items: center;
    padding: .25rem;
  }
  
  .navbar ul button {
    height: fit-content;
  }
  
  .navbar ul button img {
    height: 2rem;
    margin-left: 10px;
  }
  
  /* .navbar li.active {
    background-color: #555;
  } */
  
  /* .navbar li:hover {
    background-color: #777;
  } */

/*-------------------------------------------------
 Was from index.css
-------------------------------------------------*/
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

#slider {
    height: 0.75rem;
    width: 100% !important;
}

.MuiSlider-mark {
    height: 0.75rem !important;
    width: 0.2rem !important;
}

.MuiSlider-markLabel {
    font-size: 1.25rem !important;
}

@media screen and (max-width: 844px) and (orientation: landscape) {
    #slider {
        width: 85% !important;
    }
    .MuiSlider-markLabel {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 390px) and (orientation: portrait) {
    #slider {
        width: 60% !important;
    }
    .MuiSlider-markLabel {
        font-size: 1rem !important;
    }
}

/*-------------------------------------------------
  Was from slider.css
 -------------------------------------------------*/
#slider {
    height: 0.75rem;
    width: 100% !important;
}

.MuiSlider-mark {
    height: 0.75rem !important;
    width: 0.2rem !important;
}

.MuiSlider-markLabel {
    font-size: 1.25rem !important;
}

@media screen and (max-width: 844px) and (orientation: landscape) {
    #slider {
        width: 85% !important;
    }
    .MuiSlider-markLabel {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 390px) and (orientation: portrait) {
    #slider {
        width: 60% !important;
    }
    .MuiSlider-markLabel {
        font-size: 1rem !important;
    }
}