<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='login.css')}}">
<!-- {#<script type="text/javascript">#}
{#  (function() {#}
{#    var s = document.createElement("script");#}
{#    s.type = "text/javascript";#}
{#    s.async = true;#}
{#    s.src = '//api.usersnap.com/load/143a50cc-0af5-4778-a4ec-18269edf01a7.js';#}
{#    var x = document.getElementsByTagName('script')[0];#}
{#    x.parentNode.insertBefore(s, x);#}
{#  })();#}
{#</script>#} -->
</head>
<body>
    <div class="top-left">
		<h1>ELIPSS SkillBuilder</h1>
    </div>
{% extends "parent_login.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container">
      <div class="alert-info"><h4>{{ msg }}</h4></div>
      <form class="form-signin" method="POST" action="/login">
        <div class="panel-heading">
            <h2 class="form-signin-heading">Please Login:</h2>
            <a href="/signup">Don't yet have an account? Sign up.</a>
        </div>
        <div class="panel-body">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </div>
      </form>

    </div> <!-- /container -->
{% endblock %}
</body>
</html>
