{% extends "parent_signed_in.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='w3.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body{
	width: 100%;
	height: 100%;
	margin: 0;
}
html {
	font-family: "helvetica neue", sans-serif;
}

.left, .middle, .right{
    float:left;
    height: 100%;
}
.right, .left{
    width: 10%;
    background: #282828;
    box-shadow:black 0 0 20px 1px inset;
    margin-top:-1px;
    height:150%;
}


.middle{
    width: 80%;
    padding-left: 20px;
}

.nav-body{<!-- This is the style setting for the navigation bar, it's not in the parent_signed_in file because it can -->
<!-- cause confusion in the future as a part of the style goes into another file. I want to keep all the style settings -->
<!-- in their own file, so I decide to leave it here -->
	border-bottom: 1px solid #EAEAEB;
	text-align: right;
	width: 100%;
	height: 70px;
	line-height: 70px;
	margin-top:-55px;
	background-color: black;
}

.menu {
	margin: 0 30px 0 0;
}

.menu a {
	text-decoration: none;
	color: gray;
	margin: 0 10px;
	line-height: 70px;
	clear: right;
}
.nav-a:hover{
    color:yellow;
}
.Logo a:hover{
    color:yellow;
}
.nav-label{
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
	width: 26px;
	float: right;
}
.nav-span{
    color: #54D17A
}

.nav-span:hover{
    color: yellow;
}

#toggle {
	display: none;
}

.Logo{
    font-family:Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    float:left;
    position: relative;
    color: gray;
    left:11px;
    font-size :25px;
    font-weight: bold;
}
@media only screen and (max-width: 500px){
    .left, .right{
        display: none;
        box-shadow:none;
        background:white;
    }
    .middle{
        width:100%;
    }
    .breadcrumb{
        margin-left:0px;
    }
    .Logo{
        display:none;
    }
	.nav-label{
		display: block;
		cursor: pointer;
		color: gold;
	}
	.menu {
		text-align: center;
		width: 100%;
		display: none;
	}
	.menu a{
		display: block;
		margin:0;

	}
	#toggle:checked + .menu {
		display:block;
		float:left;
		z-index:30;
		background-color:black;
	}
	.nav-a{
	    border: 0.3px solid gray;
	}
}
.breadcrumb{
    font-family: sans-serif;
    margin-top:-50px;
    width:94%;
    margin-left: 23px;
    font-size: 20px;
    color:#007acc;
    margin-top: 30px;
}
.crumbs {
    margin:0;
    margin-left: -40px;
}
.crumbs li{
    display: inline-block;
}
.sample_file_link{
    display: block;
    margin-bottom: 20px;
    color: green;
    background: #F0F0DF;
    width: 350px;
}
<!--above is css for navigation bar-->
</style>
{% endblock %}

{% block content %}
{{ super() }}

<div class="left"></div>
<div class="middle">
    <div class="breadcrumb">
        <ol class="crumbs">
            <li><a>Home</a></li>
            <li> > </li>
            <li style="color:gray;">Create New Project</li>
        </ol>
    </div>
{# This submit form uses wtf form;
    wtf form has validator functions to check the input before the submission;
    The validtors can be found in python file;
#}
    <div class="container w3-row-padding" style="right: 5%;left: 5%">
      <div class="row">
          <div class="w3-container w3-card w3-white w3-margin-bottom" style="width:90%;">
              <div class="w3-row-padding w3-margin">
                <form action="/create_project" method="POST" enctype = "multipart/form-data">

<!--        {#                    <p>Project Name <input class="w3-input w3-padding-16 w3-border" type="text" name="project_name"/></p>#}-->
<!--        {#                    <p>Group file <input class="w3-input w3-padding-16 w3-border" type="file" name="group_file"/></p>#}-->
<!--        {#                    <p>Grading Criteria<input class="w3-input w3-padding-16 w3-border" type="file" name="grading_criteria"/></p>#}-->
                        {% if wtf.form_field.errors %}
                            <ul class=errors>
                            {% for error in wtf.form_field %}
                                <li>{{ error }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.hidden_tag() }}
                        {{ wtf.form_field(form.project_name) }}
                        {{ wtf.form_field(form.project_description) }}
                        {{ wtf.form_field(form.student_file) }}
                    <a class="sample_file_link" href="https://github.com/sotl-technology/rubricapp/raw/master/sample_file/rosters/sample_roster.xlsx">(Download a sample roster files)</a>
                        {{ wtf.form_field(form.json_file) }}
                    <a class="sample_file_link" href="https://github.com/sotl-technology/rubricapp/tree/master/sample_file/rubrics">(Browse sample rubric files)</a>
                        <button class="w3-button w3-light-grey" type="submit">submit</button>
                    <br>
                </form>
              </div>
          </div>
      </div>
    </div>
</div>
<div class="right"></div>
{#    <script type="text/javascript">#}
{#  (function() {#}
{#    var s = document.createElement("script");#}
{#    s.type = "text/javascript";#}
{#    s.async = true;#}
{#    s.src = '//api.usersnap.com/load/143a50cc-0af5-4778-a4ec-18269edf01a7.js';#}
{#    var x = document.getElementsByTagName('script')[0];#}
{#    x.parentNode.insertBefore(s, x);#}
{#  })();#}
{#</script>#}
<script>
    // Open and close sidebar
    function openNav() {
      document.getElementById("mySidebar").style.width = "100%";
      document.getElementById("mySidebar").style.display = "block";
    }

    function closeNav() {
      document.getElementById("mySidebar").style.display = "none";
    }

</script>

{% endblock %}
