
{% extends "bootstrap/base.html" %}
{% block title %}
EasyGrade
{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='w3.css')}}">
{% endblock %}
{% block content %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.js"></script>

            <h2 class="w3-display-middle">{{ project_name }}-{{ evaluation_name }}</h2>
            <h2 class="w3-display-middle3">{{ group }}</h2>
                    {% for student in students %}
                        <input type="checkbox" id="{{ student[0] }}" name="student" value="{{ student[1] }}" checked>
                        <label for="{{ student[0] }}">{{ student[1] }}</label>
                    {% endfor %}

                    {% for grade in grades %}
                        <h3>grade by {{ grade['owner'] }}</h3>
                        {% for category in json_data['category'] %}
                            <div>
                            <h3>{{ category['name'] }}</h3>
                                {% for section in category['section'] %}
                                    {% if section['type'] == "radio" %}
                                        <h3>{{ section['name'] }}</h3>
                                        {% if grade["{}|{}".format(category['name'], section['name'])] is not none %}
                                            <p style="font-weight: bold; font-size: 15px">{{ grade[category['name']+'|'+section['name']] }}</p>

                                            {% for value in section['values'] %}
                                            <div class="w3-parallel-box" style="width: 135px; height: 100px ;border:1px solid gray; border-radius: 5px;">
                                                <p id="{{ value['name'] }}">{{ value['name'] }}</p>
                                                <label for="{{ value['name'] }}">{{ value['name'] }}<br>{{ value['desc'] }}</label>
                                            </div>
                                            {% endfor %}
                                        {% else %}
                                            <P style="font-weight: bold">the grader hasn't published this grade yet</P>
                                        {% endif %}
                                    <br>
                                    {% elif section['type'] == "checkbox" %}
                                        <div style="border:1px solid gray; border-radius: 5px;">
                                        <h3>{{ section['name'] }}</h3>
                                        {% if grade[category['name']+'|'+section['name']] is not none %}
                                            {% for value in section['values'] %}
                                                {% if "{}".format(value['name']) in grade["{}|{}".format(category['name'], section['name'])] %}
                                                    <p style="font-weight: bold; font-size: 15px">{{ value['desc'] }}</p>
                                                {% endif %}
                                            {% endfor %}

                                            <ul>
                                            {% for value in section['values'] %}
                                                <li>
                                                    {{ value['desc'] }}
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        {% else %}
                                            <P style="font-weight: bold">the grader hasn't published this grade yet</P>
                                        {% endif %}
                                        </div>
                                    {% elif section['type'] == "text" %}
                                        <div style="border:1px solid gray; border-radius: 5px;">
                                        <h3>{{ section['name'] }}</h3>
                                        <ul>
                                            {% for value in section['values'] %}
                                            <li>{{ value['name'] }} {{ value['desc'] }}</li>
                                            {% endfor %}
                                        </ul>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            <br>
                            </div>
                            <br><br>
                        {% endfor %}
                    <h2>Comment:</h2>
                        <p name="comment" value="{{ comment }}"></p>
                {% endfor %}
{% endblock %}

{#                {% for category in json_data['category'] %}#}
{#                    <div>#}
{#                    <p>{{ category['name'] }}</p>#}
{#                        <div>#}
{#                            <table>#}
{#                            <thead><tr>Ratings</tr></thead>#}
{#                                {% for rate in category['Ratings'] %}#}
{#                                    <td>#}
{#                                        {% if "{}".format(rate['n
                                            ame']) in edit_data["{}|Ratings".format(category['name'])] %}#}
{#                                            <input type="radio" class="w3-radio" id="{{ rate['name'] }}" name="{{category['name']}}|Ratings" value="{{rate['name']}}" checked>#}
{#                                            <label for="{{ rate['name'] }}">{{ rate['name'] }}{{ rate['desc'] }}</label>#}
{#                                        {% else %}#}
{#                                            <input type="radio" class="w3-radio" id="{{ rate['name'] }}" name="{{category['name']}}|Ratings" value="{{rate['name']}}">#}
{#                                            <label for="{{ rate['name'] }}">{{ rate['name'] }}{{ rate['desc'] }}</label>#}
{#                                        {% endif %}#}
{#                                    </td>#}
{#                                {% endfor %}#}
{#                            </table>#}
{#                        </div>#}
{#                        <div>#}
{#                            <ul>#}
{#                            <p>Observable Characteristics</p>#}
{#                            {% for oc in category['Observable Characteristics'] %}#}
{#                                <li>#}
{#                                    {% if oc['name'] in edit_data["{}|Observable Characteristics".format(category['name'])] %}#}
{#                                        <input type="checkbox" class="w3-check" id=" {{ oc['name'] }}" name="{{ category['name'] }}|Observable Characteristics" value="{{ oc['name'] }}" checked>#}
{#                                        <label for=" {{ oc['name'] }}">{{ oc['desc'] }}</label>#}
{#                                    {% else %}#}
{#                                        <input type="checkbox" class="w3-check" id=" {{ oc['name'] }}" name="{{ category['name'] }}|Observable Characteristics" value="{{ oc['name'] }}">#}
{#                                        <label for=" {{ oc['name'] }}">{{ oc['desc'] }}</label>#}
{#                                    {% endif %}#}
{#                                </li>#}
{#                            {% endfor %}#}
{#                            </ul>#}
{#                        </div>#}
{#                        <div>#}
{#                            <ul>#}
{#                            <p>Suggestions</p>#}
{#                            {% for sg in category['Suggestions'] %}#}
{#                                <li>#}
{#                                    {% if sg['name'] in edit_data["{}|Suggestions".format(category['name'])] %}#}
{#                                        <input type="checkbox" class="w3-check" id=" {{ sg['name'] }}" name="{{ category['name'] }}|Suggestions" value="{{ sg['name'] }}" checked>#}
{#                                        <label for=" {{ sg['name'] }}">{{ sg['desc'] }}</label>#}
{#                                    {% else %}#}
{#                                        <input type="checkbox" class="w3-check" id=" {{ sg['name'] }}" name="{{ category['name'] }}|Suggestions" value="{{ sg['name'] }}">#}
{#                                        <label for=" {{ sg['name'] }}">{{ sg['desc'] }}</label>#}
{#                                    {% endif %}#}
{#                                </li>#}
{#                            {% endfor %}#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                {% endfor %}#}

