{% extends "bootstrap/base.html" %}
 
{% block title %}
OpenRubric
{% endblock %}
 
{% block content %}
<div class="nav-body">
    <label class="nav-label" for="toggle">&#9776</label>
    <input type="checkbox" id="toggle"/>
    <div class="menu">
        <span class="Logo"><a href="#" >OpenRubric</a></span>

        <a class="nav-a" href="/instructor_project">Rubrics</a>
        <a class="nav-a" href="/create_project"><span class="nav-span">Create New Rubric</span></a>
        <a class="nav-a" href="/account/success">Copy Rubric</a>
        <a class="nav-a" href="/project_profile_jumptool">Manage Rubrics</a>

        <a class="nav-a" href="{{ url_for('logout') }}">Log out</a>
    </div>
</div>
{% endblock %}