{% extends "parent_signed_in.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('.static', filename='dashboard.css') }}" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="{{url_for('.static', filename='w3.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body{
	width: 100%;
	height: 100%;
	margin: 0;
}
html {
	font-family: "helvetica neue", sans-serif;
}

.left, .middle, .right{
    float:left;
    margin-top:70px;
    height: 100%;
}
.left, .right{
    width: 10%;
    background: #282828;
    box-shadow:black 0 0 20px 1px inset;
    margin-top:-1px;
}

.middle{
    width: 80%;
    padding-left: 20px;
}

.nav-body{<!-- This is the style setting for the navigation bar, it's not in the parent_signed_in file because it can -->
<!-- cause confusion in the future as a part of the style goes into another file. I want to keep all the style settings -->
<!-- in their own file, so I decide to leave it here -->
	border-bottom: 1px solid #EAEAEB;
	text-align: right;
	width: 100%;
	height: 70px;
	line-height: 70px;
	margin-top:-55px;
	background-color: black;
}

.menu {
	margin: 0 30px 0 0;
}

.menu a {
	text-decoration: none;
	color: gray;
	margin: 0 10px;
	line-height: 70px;
	clear: right;
}
.nav-a:hover{
    color:yellow;
}
.Logo a:hover{
    color:yellow;
}
.nav-label{
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
	width: 26px;
	float: right;
}
.nav-span{
    color: #54D17A
}

.nav-span:hover{
    color: yellow;
}

#toggle {
	display: none;
}

.Logo{
    font-family:Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    float:left;
    position: relative;
    color: gray;
    left:11px;
    font-size :25px;
    font-weight: bold;
}
.breadcrumb{
    font-family: sans-serif;
    margin-top:-50px;
    width:94%;
    margin-left: 28px;
    font-size: 20px;
    color:#007acc;
}
.crumbs {
    margin:0;
    margin-left: -40px;
}
.crumbs li{
    display: inline-block;
}
@media only screen and (max-width: 500px){
    .left, .right {
        display:none;
    }
    .Logo{
        display:none;
    }
	.nav-label{
		display: block;
		cursor: pointer;
		color: gold;
	}
	.menu {
		text-align: center;
		width: 100%;
		display: none;
	}
	.menu a{
		display: block;
		margin:0;

	}
	#toggle:checked + .menu {
		display:block;
		float:left;
		z-index:30;
		background-color:black;
	}
	.nav-a{
	    border: 0.3px solid gray;
	}
}

</style>
{% endblock %}

{% block content %}
{{ super() }}
<!--    <nav class="w3-sidebar w3-white w3-animate-top w3-xxlarge" style="display:none;padding-top:150px;top:0;z-index:2" id="mySidebar">-->
<!--      <a href="javascript:void(0)" onclick="closeNav()" class="w3-button w3-range w3-xxlarge w3-display-topright" style="top:10%">-->
<!--        <i class="fa fa-remove"></i>-->
<!--      </a>-->
<!--      <div class="w3-bar-block w3-center">-->
<!--        <a href="/instructor_dashboard" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Overview</a>-->
<!--        <a href="/instructor_project" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Rubric</a>-->
<!--        <a href="/create_project" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Create New Rubric</a>-->
<!--        <hr class="w3-border-grey" style="margin:auto;width:60%">-->
<!--        <a href="/account" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Account</a>-->
<!--        <a href="/project_profile_jumptool" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Profile</a>-->
<!--        <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Log out</a>-->
<!--      </div>-->
<!--    </nav>-->
<!--    <nav class="navbar navbar-inverse navbar-fixed-top">-->
<!--      <div class="container-fluid">-->
<!--        <div class="navbar-header">-->
<!--          <a class="navbar-brand" href="#">OpenRubric</a>-->
<!--        </div>-->
<!--          <div id="navbar" class="navbar-collapse collapse">-->
<!--              <span class="w3-button w3-top w3-white w3-large w3-text-grey w3-hover-text-black" style="width:auto;left: 45%;right: 45%;" onclick="openNav()"><i class="fa fa-bars"></i></span>-->
<!--          </div>-->
<!--      </div>-->
<!--    </nav>-->
<div class="left"></div>
<div class="middle">
    <div class="breadcrumb">
        <ol class="crumbs">
            <li><a>Home</a></li>
            <li> > </li>
            <li><a href="/instructor_project">Projects</a></li>
            <li> > </li>
            <li style="color:gray">{{ project.project }}</li>
        </ol>
    </div>
{# main page has two parts;
    1. create new evaluation;
    2. The list of all evaluations;
#}
    <div class="container w3-row-padding" style="left: 5%;right: 5%; width:90%">
      <div class="row">
            <ul class="nav nav-tabs">
            {# Alert is used to reflect the info that whether the new evaluation is successfully created;
                evaluation's name should be unique;
            #}
                {% if msg == "noAlert" %}
              <li class="active"><a data-toggle="tab" href="#CNE">Existing Evaluations</a></li>
<!--              <li><a data-toggle="tab" href="#Grade">Grade</a></li>-->
              <li><a data-toggle="tab" href="#Evas">Create a New Evaluation</a></li>
                {% else %}
              <li><a data-toggle="tab" href="#CNE">Existing Evaluations</a></li>
<!--              <li><a data-toggle="tab" href="#Grade">Grade</a></li>-->
              <li class="active"><a data-toggle="tab" href="#Evas">Create a New Evaluation</a></li>
                {% endif %}
            </ul>
            <div class="tab-content">
                {% if msg == "noAlert" %}
                <div id="CNE" class="tab-pane fade in active">
                {% else %}
                <div id="CNE" class="tab-pane fade">
                {% endif %}
                    <ul class="w3-ul">
                        {% for evaluation in data_of_eva_set %}
                                <div class="w3-card w3 margin w3-container w3-round">
                                <h2 class="w3-opacity"><i class="fa fa-book fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>{{ evaluation.eva_name }}</h2>
                                <hr class="w3-border-grey" style="margin:auto;width:100%">
                                <p>{{ evaluation.description }}</p>
                                <hr class="w3-border-grey" style="margin:auto;width:100%">
                                {% for meta in set_of_meta %}
                                    <a href="/jump_to_evaluation_page/{{ project.project_id }}/{{ evaluation.eva_name }}/{{ meta }}/***None***/noAlert" class="w3-button w3-light-grey">{{meta}}</a>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </ul>

                </div>
<!--                <div id="Grade" class="tab-pane fade">-->
<!--                    {% for evaluation in data_of_eva_set %}-->
<!--                        <ul class="w3-ul">-->
<!--                            <li>-->
<!--                            <form action="/download/{{ project.project_id }}/{{ evaluation.eva_name }}" method="post" name="EvaForm" id="EvaForm">-->
<!--                                <p>{{ evaluation.eva_name }}</p>-->
<!--&lt;!&ndash;{#                                <select id="owner" name="owner">#}&ndash;&gt;-->
<!--&lt;!&ndash;{#                                  {% for owner in data_of_eva_dic[evaluation_name] %}#}&ndash;&gt;-->
<!--&lt;!&ndash;{#                                    <option value={{ owner }} >{{ owner }}</option>#}&ndash;&gt;-->
<!--&lt;!&ndash;{#                                  {% endfor %}#}&ndash;&gt;-->
<!--&lt;!&ndash;{#                                </select>#}&ndash;&gt;-->
<!--                            <button class="w3-button w3-light-grey btn btn-primary btn-md" type="submit">Download</button>-->
<!--                            </form>-->
<!--                            <button class="w3-button w3-light-grey btn btn-primary btn-md" data-toggle="modal" data-target="#email">Email</button>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                        &lt;!&ndash; modal &ndash;&gt;-->
<!--                        <div class="modal fade" id="email" tabindex="-1" role="dialog" aria-labelledby="emailLabel">-->
<!--                            <div class="modal-dialog" role="document">-->
<!--                                <div class="modal-content">-->
<!--                                    <div class="modal-header">-->
<!--                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                            <span aria-hidden="true">&times;</span>-->
<!--                                        </button>-->
<!--                                        <h4 class="modal-title" id="emailLabel">Login your Uiowa Email</h4>-->
<!--                                    </div>-->
<!--                                    <form class="form-signin" action="/sendEmail/{{ project.project_id }}/{{ evaluation.eva_name }}" method="post">-->
<!--{#                                        <input id="owner_submit" name="owner_submit" hidden>#}-->
<!--                                        <div class="modal-body">-->
<!--                                            <p><input class="w3-input w3-padding-16 w3-border" type="text" name="useremail" value="{{ useremail }}">Uiowa Email</p>-->
<!--                                            <p><input class="w3-input w3-padding-16 w3-border" type="password" name="userpassword">Password</p>-->
<!--                                        </div>-->
<!--                                        <div class="modal-footer">-->
<!--                                            <button type="button" class="btn btn-default" data-dismiss="modal">close</button>-->
<!--                                            <button type="submit" class="btn btn-primary">login</button>-->
<!--                                        </div>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    {% endfor %}-->
<!--                    <ul class="w3-ul">-->
<!--                        <li>-->
<!--                            <a href="/download/{{ project.project_id }}/all" class="w3-button w3-light-grey">Download all evaluations</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
                {% if msg == "noAlert" %}
                <div id="Evas" class="tab-pane fade">
                {% else %}
                <div id="Evas" class="tab-pane fade in active">
                {% endif %}
                    <div class="w3-row-padding">
                        {% if msg != "noAlert" %}
                        <div id = "feedback" class="alert alert-danger" role = "alert">{{msg}}</div>
                        {% else %}
                        <div id = "feedback" class="alert alert-danger" role = "alert" style="display: none;">{{msg}}</div>
                        {% endif %}
                        <form action="/create_evaluation/{{ project.project_id }}" method="post" enctype="multipart/form-data" id="evaluation_form">
                            <br>
                            <p style="font-weight: bold;">Evaluation Name:</p>
                            <input class="w3-input w3-padding-16 w3-border" type="text" minlength="1" maxlength="150" id="evaluation_name" name="evaluation_name" required>
<!--                            <label for="evaluation_name">evaluation name should be between 1 to 10 characters</label>-->
                            <p>* evaluation should be named between 1-150 characters</p>
                            <br><br>
                            <p style="font-weight: bold;">Evaluation description:</p>
<!--                            <input class="w3-input w3-padding-16 w3-border" style="width:100%; height: 250px;padding: 0 0 220px 0;" type="text" minlength="0" maxlength="255" id="evaluation_description" name="evaluation_description">-->
                                <textarea minlength="0" maxlength="255" id="evaluation_description" name="evaluation_description"></textarea>
                            <!--                            <label for="evaluation_description">description can be blank</label>-->
                            <p>* description can be left blank</p>
                            <button class="w3-button w3-light-grey" id="evaluation_submit" type="submit" disabled>Create a New Evaluation</button>
                        </form>
                    </div>
                </div>
            </div>
      </div>
    </div>
</div>
<div class="right"></div>
{#    <script type="text/javascript">#}
{#  (function() {#}
{#    var s = document.createElement("script");#}
{#    s.type = "text/javascript";#}
{#    s.async = true;#}
{#    s.src = '//api.usersnap.com/load/143a50cc-0af5-4778-a4ec-18269edf01a7.js';#}
{#    var x = document.getElementsByTagName('script')[0];#}
{#    x.parentNode.insertBefore(s, x);#}
{#  })();#}
{#</script>#}
<script>
    const evaluation_form = document.getElementById('evaluation_form');
    const evaluation_name = document.getElementById('evaluation_name');
    const okButton = document.getElementById('evaluation_submit');;
    var project_status = new String("{{project.status}}");
    {#var owner = document.getElementById('owner').value;#}
    {#var owner_submit = document.getElementById('owner_submit').value = owner;#}

    evaluation_name.addEventListener('keyup', function (event) {
      isValidEmail = evaluation_name.checkValidity();
      if (project_status == "full") {
          if (isValidEmail) {
              okButton.disabled = false;
          } else {
              okButton.disabled = true;
          }
      }
      else {
          okButton.disabled = true;
      }
    });

    okButton.addEventListener('click', function (event) {
      evaluation_form.submit();
    });

    // Open and close sidebar
    function openNav() {
      document.getElementById("mySidebar").style.width = "100%";
      document.getElementById("mySidebar").style.display = "block";
    }

    function closeNav() {
      document.getElementById("mySidebar").style.display = "none";
    }
<!--    **************************-->
    function activeEvaluationTab(){
        evaTab = document.getElementById("Evas");
        evaTab.style.display = "block";
    }

    function init(){
        var L = document.getElementsByClassName("left");
        var R = document.getElementsByClassName("right");
        var M = document.getElementsByClassName("middle");
        var left = L[0];
        var right = R[0];
        var middle = M[0];
        var height = middle.offsetHeight;
        var newHeight = height + 100;
        left.style.height = newHeight + 'px';
        right.style.height = newHeight + 'px';
        }
    activeEvaluationTab();
    init();
</script>
{% endblock %}
