{% extends "parent_signed_in.html" %}

{% block styles %}
<style>
    .myLink {display: none}
html, body{
	width: 100%;
	height: 100%;
	margin: 0;
}
html {
	font-family: "helvetica neue", sans-serif;
}

.left, .middle, .right{
    float:left;
    margin-top:70px;
    height: 100%;
}
.left, .right{
    width: 5%;
    background: #282828;
    box-shadow:black 0 0 20px 1px inset;
    margin-top:-1px;
    height:400%;
}
.middle{
    width: 90%;
    padding-left: 0px;
    padding: 15px 15px 15px 15px;
}

.nav-body{<!-- This is the style setting for the navigation bar, it's not in the parent_signed_in file because it can -->
<!-- cause confusion in the future as a part of the style goes into another file. I want to keep all the style settings -->
<!-- in their own file, so I decide to leave it here -->
	border-bottom: 1px solid #EAEAEB;
	text-align: right;
	width: 100%;
	height: 70px;
	line-height: 70px;
	margin-top:-55px;
	background-color: black;
}

.menu {
	margin: 0 30px 0 0;

}

.menu a {
	text-decoration: none;
	color: gray;
	margin: 0 10px;
	line-height: 70px;
	clear: right;
}
.nav-a:hover{
    color:yellow;
}
.Logo a:hover{
    color:yellow;
}
.nav-label{
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
	width: 26px;
	float: right;
}
.nav-span{
    color: #54D17A
}

.nav-span:hover{
    color: yellow;
}

#toggle {
	display: none;
}

.Logo{
    font-family:Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    float:left;
    position: relative;
    color: gray;
    left:11px;
    font-size :25px;
    font-weight: bold;
}
.middle #goTop {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
}

@media only screen and (max-width: 500px){
    body{
        width:175vw;
	    font-size:18px;
    }
    .Logo{
        display:none;
    }
	.nav-label{
		display: block;
		cursor: pointer;
		color: gold;
	}
	.menu {
		text-align: center;
		width: 100%;
		display: none;
	}
	.menu a{
		display: block;
		margin:0;

	}
	#toggle:checked + .menu {
		display:block;
		float:left;
		z-index:30;
		background-color:black;
	}
	.nav-a{
	    border: 0.3px solid gray;
	}

	#goTop{
	    margin-right: -25px;
	}
}
#goTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: yellow;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
.rubricBlocks{
    margin-bottom:103px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius:4px;
    padding:0.01em 16px;
}
    .breadcrumb{
    font-family: sans-serif;
    margin-top:-50px;
    width:94%;
    margin-left: 28px;
    font-size: 20px;
    color:#007acc;
}
.crumbs {
    margin:0;
    margin-left: -40px;
}
.crumbs li{
    display: inline-block;
}
</style>
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='w3.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
{{ super() }}

<div class="left"></div>
<div class="middle">
    <div class="breadcrumb">
        <ol class="crumbs">
            <li><a>Home</a></li>
            <li> > </li>
            <li style="color:gray;">Manage Projects</li>
        </ol>
    </div>
            {% for project in project_list %}
              <div id="{{ project.project }}" class="rubricBlocks">
                    <div class="" style="margin-top:-40px;" name="rubricBoxes">
                          <h2 class="w3-opacity" style="margin-top:55px;"><i class="fa fa-archive fa-fw w3-margin-right w3-xlarge w3-text-teal"></i><a href="/load_project/{{ project.project_id }}/noAlert">{{ project.project }}</a></h2>
                          <hr class="w3-border-grey" style="margin:auto;width:90%">
                          <br>
                          <div class="w3-container">
                              <p class="sub-header">description:</p>
                            {% if project_information_map[project.project].description is none  %}
                                <p>    No description for this rubric</p>
                              {% else %}
                                <p>    {{ project_information_map[project.project].description }}</p>
                              {% endif %}
                          </div>
                        <div class="w3-container">
                        <div class="container-fluid" style="background-color: #f5f5f5; margin-bottom:15px">
                            <p class="sub-header">recent evaluations:</p>
                            {% if (project_set_map[project.project][1]| length) >5 %}
                                {% for eva in project_set_map[project.project][1][-6:-1] %}
                                    <span class="w3-border-orange">{{ eva.eva_name }}</span>
                                {% endfor %}
                            {% else %}
                                {% for eva in project_set_map[project.project][1] %}
                                    <span class="w3-border-orange">{{ eva.eva_name }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        </div>
                        <div class="w3-container">
                            <div class="container-fluid" style="background-color: #f5f5f5">
                                <p class="sub-header">groups:</p>
                                {% for group in project_set_map[project.project][0]%}
                                    <span class="w3-border-orange">{{ group }}</span>
                                {% endfor %}|
                            </div>
                        </div>
                    </div>
                  <br>
                  <br>
                    <div class="panel-footer" style="margin-top: -35px;margin-bottom:5px;border:none;">
                        <a href='/project_profile/{{ project.project_id }}/success' class="btn btn-info">Manage</a>
                        <a href="/delete_project/{{ project.project_id }}" class="btn btn-warning" style="background-color: red; width: 300px" onclick="return confirm('Do you want to delete this Rubric?')">Warning ! Delete the Rubric</a>
                        <a href="/download/{{ project.project_id }}/all_eva" name="downloadButton" class="btn btn-warning" style="background-color: yellow;color: black;border: none;" >Download all evaluations</a>
                    </div>
              </div>
        {% endfor %}
      </div>

<div class="right"><button onclick="topFunction()" id="goTop">Top</button></div>
{#    <script type="text/javascript">#}
{#  (function() {#}
{#    var s = document.createElement("script");#}
{#    s.type = "text/javascript";#}
{#    s.async = true;#}
{#    s.src = '//api.usersnap.com/load/143a50cc-0af5-4778-a4ec-18269edf01a7.js';#}
{#    var x = document.getElementsByTagName('script')[0];#}
{#    x.parentNode.insertBefore(s, x);#}
{#  })();#}
{#</script>#}
<script>
// Open and close sidebar
function openNav() {
  document.getElementById("mySidebar").style.width = "100%";
  document.getElementById("mySidebar").style.display = "block";
}

function closeNav() {
  document.getElementById("mySidebar").style.display = "none";
}
        //Get the button
    var mybutton = document.getElementById("goTop");

// When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
        } else {
        mybutton.style.display = "none";
        }
       }

// When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    </script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.js"></script>
{% endblock %}
