{% extends "parent_signed_in.html" %}

{% block styles %}
{{super()}}
<style>
.myLink {display: none}
html, body{
	width: 100%;
	height:100vmax;
	margin: 0;
	display:table;
}
html {
	font-family: "helvetica neue", sans-serif;
}

.left, .middle, .right{
    float:left;
    margin-top:70px;
    height: 100%;
    display:table-cell;
}
.right, .left{
    width: 10%;
    background: #282828;
    box-shadow:black 0 0 20px 1px inset;
    margin-top:-1px;
}
.middle{
    width: 80%;
    padding-left: 20px;
}

.nav-body{<!-- This is the style setting for the navigation bar, it's not in the parent_signed_in file because it can -->
<!-- cause confusion in the future as a part of the style goes into another file. I want to keep all the style settings -->
<!-- in their own file, so I decide to leave it here -->
	border-bottom: 1px solid #EAEAEB;
	text-align: right;
	width: 100%;
	height: 70px;
	line-height: 70px;
	margin-top:-55px;
	background-color: black;
}

.menu {
	margin: 0 30px 0 0;
}

.menu a {
	text-decoration: none;
	color: gray;
	margin: 0 10px;
	line-height: 70px;
	clear: right;
}
.nav-a:hover{
    color:yellow;
}
.Logo a:hover{
    color:yellow;
}
.nav-label{
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
	width: 26px;
	float: right;
}
.nav-span{
    color: #54D17A
}

.nav-span:hover{
    color: yellow;
}

#toggle {
	display: none;
}

.Logo{
    font-family:Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    float:left;
    position: relative;
    color: gray;
    left:11px;
    font-size :25px;
    font-weight: bold;
}
.middle #goTop {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
}
.breadcrumb{
    font-family: sans-serif;
    margin-top:-50px;
    width:94%;
    margin-left: 28px;
    font-size: 20px;
    color:#007acc;
}
.crumbs {
    margin:0;
    margin-left: -40px;
}
.crumbs li{
    display: inline-block;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: black;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}

@media only screen and (max-width: 500px){
    .left, .right{
        box-shadow:none;
        background:white;
        display:none;
    }
    .middle{
        padding-left:20px;
    }
    .Logo{
        display:none;
    }
	.nav-label{
		display: block;
		cursor: pointer;
		color: gold;
	}
	.menu {
		text-align: center;
		width: 100%;
		display: none;
	}
	.menu a{
		display: block;
		margin:0;

	}
	#toggle:checked + .menu {
		display:block;
		float:left;
		z-index:30;
		background-color:black;
	}
	.nav-a{
	    border: 0.3px solid gray;
	}

	#goTop{
	    margin-right: -25px;
	}
}
#goTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: black;
  color: yellow;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
{#below are css for the checkbox right after send email button for users to customize the display of the html page#}
.switchCheckbox{
	visibility:hidden;
}

.switch {
	cursor: pointer;
	width: 45px;
	height: 25px;
	background: grey;
    top:10px;
	border-radius: 100px;
	position: relative;
    margin-top: -10px;
}

.switch:after {
	content: '';
	position: absolute;
	top: 0px;
	left: -.0005px;
	width: 25px;
	height: 25px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
	border:0.75px solid grey;
}

.switchCheckbox:checked + label {
	background: #bada55;
}

.switchCheckbox:checked + label:after {
	left: calc(100% - 10px);
	transform: translateX(-50%);
}

.switch:active:after {
	width: 7px;
}

.sending_progress_message{
    font-size: 18px;
    color: #4686c7;
}
.sending_status_loader {
    margin-bottom: -14px;
    margin-left: 7px;
    border: 6px solid #b5b5b5;
    border-top: 6px solid #4686c7;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.75s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='w3.css')}}">
{#<link rel="stylesheet" href="{{url_for('.static', filename='dropdown.css') }}">#}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>#}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}


{{ super() }}

<div class="left"></div>
<div class="middle">

    <div class="breadcrumb">
        <ol class="crumbs">
            <li><a>Home</a></li>
            <li> > </li>
            <li><a href="/project_profile_jumptool">Manage Rubrics</a></li>
            <li> > </li>
            <li style="color:gray;">{{ project.project }}</li>
        </ol>
    </div>
    <div class="container w3-row-padding" style="left: 5%;right: 5%">
      <div class="row">
      {% if msg != "success" %}
        <div id = "feedback" class="alert alert-danger" role = "alert">{{msg}}</div>
        {% else %}
        <div id = "feedback" class="alert alert-danger" role = "alert" style="display: none;">{{msg}}</div>
        {% endif %}
      <br>
      <div style="background-color: #CCCCCC">
        <div style="padding: 10px; background-color: orange">
            <h2>Evaluation</h2>
        </div>
        <div style="padding: 10px">
            {% if set_of_eva |length == 0 %}
                <p>no Evaluation has been created yet!!!</p>
            {% else %}
            {% for evaluation in set_of_eva %}
            <div style="padding:10px; overflow-x:auto;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="h3">
                        <a href = '/load_project/{{ project.project_id }}/noAlert'>{{ evaluation }}</a>
                    </p>
{#                    <p>{{ sending_info_dict[evaluation].0 }}</p>#}
{#                    <p>{{ sending_info_dict[evaluation].1 }}</p>#}
                    <div>
                        <div style="display: inline-flex">
                            <a title="send emails to students" href="/sendEmail/{{ project.project_id }}/{{ evaluation }}/false" class="btn btn-primary" id="send_email_btn" onClick="move()">Send Email</a>
                            <a id="refresh" style="display: none" href="javascript:void(0)" onclick="window.location.reload()"></a>
                        </div>
                       
                        <div style="display: inline-flex">
                            <a title="Student Feedback" href="/downloadFeedBack/{{ project.project_id }}/{{ evaluation }}/false" class="btn btn-primary" id="send_email_btn" onClick="refresh()" name="download" >Download Feedback</a>
                            <a id="refresh" style="display: none" href="javascript:void(0)" onclick="window.location.reload()"></a>
                        </div>
                        {% if (sending_info_dict[evaluation] != None) %}
                            {% if (sending_info_dict[evaluation].0) > (sending_info_dict[evaluation].1) %}
                                 <!-- <div class="sending_status_loader" style="display: inline-flex"></div><span class="sending_progress_message">Sending</span> -->
                             {% elif ((sending_info_dict[evaluation].0) == (sending_info_dict[evaluation].1) and (sending_info_dict[evaluation].1) != (0))%} 
                    
                                <div class="sending_status_ready" style="display: inline-flex; font-size: 22px">&#9989;&nbsp&nbsp<span class="sending_progress_message">Emails Sent on {{(sending_info_dict[evaluation].2)}}</span></div>
                            {% else %}
                                <div class="sending_status_ready" style="display: inline-flex; font-size: 22px">&#10062;&nbsp&nbsp<span class="sending_progress_message">Ready To Send!</span></div>
                            {% endif %}
                        {% else %}
                            <p>Something went wrong</p>
{#                            <div class="sending_status_ready" style="display: inline-flex">&#9989;</div>#}
                        {% endif %}
                        <div style="display: inline-flex; text-align: right; margin-left: 100px">
                            Send with Score:
                            <input class="switchCheckbox" type="checkbox" id="switch|p0" style="visibility:hidden">
                            <label for="switch|p0" class="switch" onclick="sendWithScore()"></label>
                        </div>
                    </div>
                </div>
            {# grade panel is used to show the situation of how group has been graded; eg. some groups has been graded, some group has not; and the table of all grade information; #}
            <div class="panel-body">
                <div style="padding: 5px">
                    <span style="padding:5px; background-color: limegreen">Grade Complete {{ dic_of_choosen[evaluation].3 | length }} / {{ dic_of_choosen[evaluation].5 | length }} groups</span><a href="javascript:void(0)" style="font-weight: bold" onclick="closeCategory2('{{ evaluation }}hidegradegroups')"> see details<i class="fa fa-angle-down"></i></a>
                    <br>
                    <div id="{{ evaluation }}hidegradegroups" style="display: none; padding: 10px; border: thin solid gray">
                    {% for meta in meta_list %}
                        <p>Meta Group {{ meta }} : graded {{ (dic_of_choosen[evaluation].0)[meta] | length }} out of {{ (dic_of_choosen[evaluation].2)[meta] | length }}</p>
                        {% for group in (dic_of_choosen[evaluation].0)[meta] %}
                            <a class="btn btn-success" href="/jump_to_evaluation_page/{{ project.project_id }}/{{ evaluation }}/{{ meta }}/{{ group }}/Connected to group{{ group }}">{{ group }} </a>
                        {% endfor %}
                        <hr class="w3-border-grey" style="margin:auto;width:100%">
                    {% endfor %}
                    </div>
                </div>
            <br><br>
                <div style="padding: 5px;">
                    <span style="padding:5px; background-color: orangered">Grade Incomplete {{ dic_of_choosen[evaluation].4 | length }} / {{ dic_of_choosen[evaluation].5 | length }} groups</span><a href="javascript:void(0)" style="font-weight: bold" onclick="closeCategory2('{{ evaluation }}hidenogradegroups')"> see details<i class="fa fa-angle-down"></i></a>
                    <div id="{{ evaluation }}hidenogradegroups" style="display: none ; padding: 10px; border: thin solid gray">
                        {% for meta in meta_list %}
                        <p>Meta Group {{ meta }} : haven't graded {{ (dic_of_choosen[evaluation].1)[meta] | length }} out of {{ (dic_of_choosen[evaluation].2)[meta] | length }}</p>
                        {% for group in (dic_of_choosen[evaluation].1)[meta] %}
                            <a class="btn btn-warning" href="/jump_to_evaluation_page/{{ project.project_id }}/{{ evaluation }}/{{ meta }}/{{ group }}/Connected to group{{ group }}">{{ group }} </a>
                        {% endfor %}
                        <hr class="w3-border-grey" style="margin:auto;width:100%">
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="panel-foot"><a href="javascript:void(0)" id="openup" onclick="closeCategory('{{ evaluation }}')"><li class="cateNames" style="float:left; margin-left:20px">Display all details</li>
{#                                    <i class="fa fa-angle-down"></i></a><span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspYou have chosen: <span id="{{ evaluation }}|choosen" class="selectedDisplay">0</span>&nbspout of&nbsp<span id="{{ evaluation }}|all" class="selectedDisplay">0</span></span>#}
                                                <i class="fa fa-angle-down"></i></a>
            </div>
                <div id="{{ evaluation }}hidetable" style="display: none; overflow:auto ">
                <table class="table table-responsive">
                <thead>
                    <tr>
                        {% for tag in tags %}
                            <th>
                                {{ tag }}
                            </th>
                        {% endfor %}
                            <th>
                                modify
                            </th>
                    </tr>
                </thead>
                <tbody>
                {% for eva_row in dic_of_eva[evaluation] %}
                    <tr>
                    {% for key, values in eva_row.items() %}
                        {% if (key != "group_id") and (key != "eva_name") and (key != "owner") and (key != "date") and (key != "students") and (key != "last_updates") %}
                        {% if (values is not none) and (values != " ") and (values != "") %}
                        <td><span>&#10003;</span></td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% else %}
                        <td>{{ values }}</td>
                        {% endif %}
                    {% endfor %}
                    <td><a href="/delete_eva/{{ project.project_id }}/{{ evaluation }}/{{ eva_row['group_id'] }}/{{ eva_row['owner'] }}/{{ eva_row['date'] }}" id="delete_eva" class="btn btn-warning" onclick="return confirm('Do you want to delete this evaluation?')">delete</a> </td>
<!--{#                    <script>#}-->
<!--{#                        function delete_eva() {#}-->
<!--{#                            var group = document.getElementById("{{ evaluation }}group").value;#}-->
<!--{#                            var grader = document.getElementById("{{ evaluation }}grader").value;#}-->
<!--{#                            var datetime = document.getElementById("{{ evaluation }}datetime").value;#}-->
<!--{#                            var href = "/delete_eva/{{ project.project_id }}/{{ evaluation }}/" + group + "/" + grader + "/" + datetime;#}-->
<!--{#                            document.getElementById("delete_eva").setAttribute("href", href)#}-->
<!--{#                        }#}-->
<!--{#                    </script>#}-->
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <div id="{{ evaluation }}hidebar" style="display: none"><a href="javascript:void(0)" onclick="closeCategory('{{ evaluation }}')"><i class="fa fa-angle-up"></i></a></div>
            </div>
            </div>
            {% endfor %}
        <br>
        {% endif %}
      </div>
      </div>

      <br>
      <div style="background-color: #CCCCCC">
        <div style="padding: 10px; background-color: orange">
            <h2>Permission</h2>
        </div>
      <div style="padding: 10px">
      <h4>Give permission of this project to other users</h4>
      <h4>Manage the permission you have granted</h4>
                 <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                            Share To
                        </th>
                        <th>
                            Authority
                        </th>
                        <th>
                            Add
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for permission in list_of_shareTo_permission %}
                    <form action="/update_permission/{{ permission.project_id }}/{{ project.project_id }}" method="post">
                    <tr>
                    <td>{{ permission.shareTo }}</td>
{#                    <td>#}
{#                        <select id="authority" name="authority">#}
{#                            <option value="edit" >edit</option>#}
{#                            <option value="overwrite" >overwrite</option>#}
{#                        </select>#}
{#                    </td>#}
                    <td>
{#                        <input name="submit" type="submit" class="btn btn-warning" value="update" onclick="return confirm('Do you want to update the permission?')">#}
                        <input name="submit" type="submit" class="btn btn-warning" value="delete" onclick="return confirm('Do you want to delete the permission?')">
                    </td>
                    </tr>
                    </form>
                {% endfor %}
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td><button class="w3-button w3-light-grey btn btn-primary btn-md" data-toggle="modal" data-target="#CNP">Create new Permission to Share your Rubric</button></td>
                    <div class="modal fade" id="CNP" tabindex="-1" role="dialog" aria-labelledby="emailLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="emailLabel">Share your Rubric</h4>
                                </div>
                                <form class="form-signin" action="/create_permission/{{ project.project_id }}" method="post">
                                    <input id="owner_submit" name="owner_submit" hidden>
                                    <div class="modal-body">
                                        <p><input class="w3-input w3-padding-16 w3-border" type="text" name="username">User Name</p>
{#                                        <select id="authority" name="authority">#}
{#                                            <option value="edit" >edit</option>#}
{#                                            <option value="overwrite" >overwrite</option>#}
{#                                        </select>#}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                                        <button type="submit" class="btn btn-primary">Share!</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </tr>
                </tbody>
            </table>
            <br>
      </div>
      {# This panel is used to change student information; eg. change the student's email preventing the problem that the given email is not valid amd the email is not reachable; #}
      </div>
        <br>
        <div style="background-color: #CCCCCC">
            <div style="padding: 10px; background-color: orange">
                <h2>Students</h2>
            </div>
            <div style="padding: 10px">
            <h4>Manage the students' information. ex. Change students' email, Switch groups</h4>
            <form action="/management_group/{{ project.project_id }}" method="post" name="management-group-form" id="management-group-form">
            <table class="table table-responsive">
                <thead>
                <tr>
                {% for cell in management_groups[0] %}
                    <th>{{ cell }}</th>
                {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in management_groups[1:] %}
                <tr>
                    <td>{{ row[0] }}</td>
                    {% for cell in row[1:] %}
                    <td>
                    {% if cell is none %}
                        <input name="{{ row[0] }}{{ loop.index }}" type="email">
                    {% else %}
                        <input name="{{ row[0] }}{{ loop.index }}" type="email" value="{{ cell }}">
                    {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
          <button name="submit_button" class="btn btn-primary" type="submit" data-component="button">update group</button>
            </form>
            </div>
        </div>
      </div>
    </div>
</div>
<div class="right"></div>
<script>
{# this function make the web page sleep for 2 seconds and then refresh the page, that way, bad gateway error (which is
 caused by the long wait of sending all of the emails, and then the http request expires and return an error) is avoided,
 though there is probably a better solution #}
async function refresh() {
    const btn = document.getElementById("refresh");
    await new Promise(r => setTimeout(r, 2000));
    btn.click()
}

function sendWithScore() {
    const btn = document.getElementById("send_email_btn");
    const btn_href = btn.href;
    const flag = btn_href.split("/")[6];
    if (flag == "false"){
        btn.href = (btn.href).replace("false", "true");
    }else if (flag == "true"){
        btn.href = (btn.href).replace("true", "false");
    }
}

</script>

{#<script type="text/javascript">#}
{#  (function() {#}
{#    var s = document.createElement("script");#}
{#    s.type = "text/javascript";#}
{#    s.async = true;#}
{#    s.src = '//api.usersnap.com/load/143a50cc-0af5-4778-a4ec-18269edf01a7.js';#}
{#    var x = document.getElementsByTagName('script')[0];#}
{#    x.parentNode.insertBefore(s, x);#}
{#  })();#}
{#</script>#}
<script>
 {#var authority = document.getElementById("authority").value;#}
// Open and close sidebar
function openNav() {
  document.getElementById("mySidebar").style.width = "100%";
  document.getElementById("mySidebar").style.display = "block";
}

function closeNav() {
  document.getElementById("mySidebar").style.display = "none";
}

function openCategory(id) {
  {#document.getElementById(id).style.width = "100%";#}
  var footerid = id + "footer"
  document.getElementById(id).style.display = "block";
  document.getElementById(footerid).style.display = "block";
}

function closeCategory(id) {
    var tableid = id + "hidetable"
    var barid = id + "hidebar"
    if (document.getElementById(tableid).style.display != "none"){
    document.getElementById(tableid).style.display = "none";
    document.getElementById(barid).style.display = "none";
    }else{
    document.getElementById(tableid).style.display = "block";
    document.getElementById(barid).style.display = "block";
    }
}
function closeCategory2(id) {
    if (document.getElementById(id).style.display != "none"){
    document.getElementById(id).style.display = "none";
    }else{
    document.getElementById(id).style.display = "block";
    }
}
    function init(){

    }
    init();
</script>
{% endblock %}
