{% extends "parent_signed_in.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='w3.css')}}">
{#<link rel="stylesheet" href="{{url_for('.static', filename='dropdown.css') }}">#}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>#}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <nav class="w3-sidebar w3-white w3-animate-top w3-xxlarge" style="display:none;padding-top:150px;top:0;z-index:2" id="mySidebar">
      <a href="javascript:void(0)" onclick="closeNav()" class="w3-button w3-range w3-xxlarge w3-display-topright" style="top:10%">
        <i class="fa fa-remove"></i>
      </a>
      <div class="w3-bar-block w3-center">
        <a href="/instructor_dashboard" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Overview</a>
        <a href="/instructor_project" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Rubric</a>
        <a href="/create_project" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Create New Rubric</a>
        <hr class="w3-border-grey" style="margin:auto;width:60%">
        <a href="/account/success" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Account</a>
        <a href="/project_profile_jumptool" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Manage Rubrics</a>
        <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Log out</a>
      </div>
    </nav>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">OpenRubric</a>
        </div>
          <div id="navbar" class="navbar-collapse collapse">
              <span class="w3-button w3-top w3-white w3-large w3-text-grey w3-hover-text-black" style="width:auto;left: 45%;right: 45%;" onclick="openNav()"><i class="fa fa-bars"></i></span>
          </div>
      </div>
    </nav>

    <div class="container w3-row-padding" style="left: 5%;right: 5%">
      <div class="row">
        <h2>Manage the evaluations</h2>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                            Evaluation Name
                        </th>
                        <th>
                            Owned by
                        </th>
                        <th>
                            Modify
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for evaluation in set_of_eva %}
                    <tr>
                    <td>{{ evaluation }}</td>
                    <td>
{#                                <select id="owner" name="owner">#}
{#                                  {% for owner in project_dic_map[project.project][evaluation] %}#}
{#                                    <option value={{ owner }} >{{ owner }}</option>#}
{#                                  {% endfor %}#}
{#                                </select>#}
                        <select id="{{ evaluation }}group" name="{{ evaluation }}group" class="form-control input-lg">
                            <option value="" >select group</option>
                        </select>
                        <select id="{{ evaluation }}grader" name="{{ evaluation }}owner" class="form-control input-lg">
                            <option value="" >select grader</option>
                        </select>
                        <select id="{{ evaluation }}datetime" name="{{ evaluation }}datetime" class="form-control input-lg">
                            <option value="" >select datetime</option>
                        </select>
                    </td>
{#                            location.href=this.href+owner; #}
                    <td><a id="delete_eva" class="btn btn-warning" onclick="return confirm('Do you want to delete this evaluation?')">delete</a> </td>
                    <script>
                         var group = document.getElementById("{{ evaluation }}group").value;
                         var grader = document.getElementById("{{ evaluation }}grader").value;
                         var datetime = document.getElementById("{{ evaluation }}datetime").value;
                         var href = "/delete_eva/{{ project.project_id }}/{{ evaluation }}/" + group + "/" + grader + "/" + datetime;
                         document.getElementById("delete_eva").setAttribute("href", href)
                    </script>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <br>
            <h2> Grant Permission</h2><br>
                 <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                            Share To
                        </th>
                        <th>
                            Authority
                        </th>
                        <th>
                            Modify
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for permission in list_of_shareTo_permission %}
                    <form action="/update_permission/{{ permission.project_id }}" method="post">
                    <tr>
                    <td>{{ permission.shareTo }}</td>
                    <td>
                        <select id="authority" name="authority">
                            <option value="edit" >edit</option>
                            <option value="overwrite" >overwrite</option>
                        </select>
                    </td>
                    <td>
                        <input name="submit" type="submit" class="btn btn-warning" value="update" onclick="return confirm('Do you want to update the permission?')">
                        <input name="submit" type="submit" class="btn btn-warning" value="delete" onclick="return confirm('Do you want to delete the permission?')">
                    </td>
                    </tr>
                    </form>
                {% endfor %}
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td><button class="w3-button w3-light-grey btn btn-primary btn-md" data-toggle="modal" data-target="#CNP">Create new Permission to Share your Rubric</button></td>
                    <div class="modal fade" id="CNP" tabindex="-1" role="dialog" aria-labelledby="emailLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="emailLabel">Share your Rubric</h4>
                                </div>
                                <form class="form-signin" action="/create_permission/{{ project.project_id }}" method="post">
                                    <input id="owner_submit" name="owner_submit" hidden>
                                    <div class="modal-body">
                                        <p><input class="w3-input w3-padding-16 w3-border" type="text" name="username">User Name</p>
                                        <select id="authority" name="authority">
                                            <option value="edit" >edit</option>
                                            <option value="overwrite" >overwrite</option>
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                                        <button type="submit" class="btn btn-primary">Share!</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </tr>
                </tbody>
            </table>
      </div>
    </div>
<script>
 var authority = document.getElementById("authority").value;
$(document).ready(function(){
 var i ;
 var k ;
 {#var keys_of_eva = Object.keys({{ dic_of_eva }})#}
 var keys_of_eva = {{ set_of_eva|safe }};

 for (i=0; i< length(keys_of_eva); i++) {
     var eva_name = keys_of_eva[i];
     load_json_data('group', '', eva_name);
 }

     function load_json_data(id, parent_id, eva_name) {
         var html_code = '';
         var path_json = '{{ path_to_profile_json }}/${eva_name}_profile.TW.TW.TW.json';
         $.getJSON(path_json, function (data) {

             html_code += '<option value="">Select ' + id + '</option>';
             $.each(data, function (key, value) {
                 if (id == 'group') {
                     if (value.parent_id == '0') {
                         html_code += '<option value="' + value.id + '">' + value.name + '</option>';
                     }
                 } else {
                     if (value.parent_id == parent_id) {
                         html_code += '<option value="' + value.id + '">' + value.name + '</option>';
                     }
                 }
             });
             $('#' + eva_name + id).html(html_code);
         });

     }
     for (i=0; i< length(keys_of_eva); i++) {
         var eva_name = keys_of_eva[i];
         $(document).on('change', ('#' + eva_name + 'group'), function () {
             var group_id = $(this).val();
             if (group_id != '') {
                 load_json_data('grader', group_id);
             } else {
                 $('#' + eva_name + 'grader').html('<option value="">Select grader</option>');
                 $('#' + eva_name + 'datetime').html('<option value="">Select datetime</option>');
             }
         });
         $(document).on('change', ('#' + eva_name + 'grader'), function () {
             var grader_id = $(this).val();
             if (grader_id != '') {
                 load_json_data('datetime', grader_id);
             } else {
                 $('#' + eva_name + 'datetime').html('<option value="">Select datetime</option>');
             }
         });
     }
    });
// Open and close sidebar
function openNav() {
  document.getElementById("mySidebar").style.width = "100%";
  document.getElementById("mySidebar").style.display = "block";
}

function closeNav() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
{% endblock %}