*.db
*.db-journal
*.pyc
*.DS_Store
*.log
../.DS_Store
**/__pycache__/
**/.vscode/
../.vscode/
*/.vscode/
*.swp
*.log
*.rdb
*.csv
Functions/t2.py
Functions/test.py
Models/hidden.py
dump.rdb
BackEndFlaskVenv
Test