#visitor library is not present anywhere in the code base
flask
flask-sqlalchemy
itsdangerous
jinja2
sqlalchemy
dominate
flask_wtf
filelock
flask_login
openpyxl
#fpdf
flask_bootstrap
django
email_validator
webdriver-manager
flask_cors
gunicorn
flask-marshmallow