# ==Core libs== #

# Flask framework and extentions
flask == 3.1.0
Werkzeug == 3.1.3
flask-sqlalchemy == 3.1.1
Flask-Migrate == 4.1.0
flask-marshmallow == 1.2.1
flask-jwt-extended == 4.7.1
flask_cors == 5.0.1

# Tools for serialization and validation
marshmallow==3.21.2
marshmallow-sqlalchemy == 1.0.0

# Google API for emails
google-auth == 2.39.0
google-auth-oauthlib == 1.2.2
google-auth-httplib2 == 0.2.0
google-api-python-client == 2.169.0

# Database and ORM tools
sqlalchemy == 2.0.40
pymysql == 1.1.1
redis == 5.2.1

# Security
pyjwt == 2.10.1
cryptography == 44.0.2

# Data processing
pandas == 2.2.3
openpyxl == 3.1.5
python-dotenv == 1.1.0

# Server related tools
gunicorn == 23.0.0
gevent == 25.4.2

# Testing tools
pytest == 8.3.5
postman_api == 3.0.0



# ==Transitive Dependencies== #
certifi==2025.4.26
charset-normalizer==3.4.1
cffi==1.17.1
et_xmlfile==2.0.0
google-api-core==2.24.2
googleapis-common-protos==1.70.0
greenlet==3.2.1
httplib2==0.22.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
Mako==1.3.10
MarkupSafe==3.0.2
numpy==2.2.5
packaging==25.0
pluggy==1.5.0
proto-plus==1.26.1
protobuf==6.30.2
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
requests-oauthlib==2.0.0
rsa==4.9.1
setuptools==80.1.0
six==1.17.0
tzdata==2025.2
typing_extensions==4.13.2
uritemplate==4.1.1
urllib3==2.4.0
zope.event==5.0
zope.interface==7.2
