# visitor library is not present anywhere in the code base
flask >= 2.2.2
flask-sqlalchemy >= 3.0.3
itsdangerous >= 2.1.2
jinja2 >= 3.1.2
sqlalchemy >= 2.0.13
dominate >= 2.7.0
flask_wtf >= 1.0.1
filelock >= 3.8.0
flask_login >= 0.6.2
openpyxl >= 3.0.10
# fpdf
flask_bootstrap >= 3.3.7.1
django >= 4.1.4
email_validator >= 1.2.1
webdriver-manager >= 3.8.3
flask_cors >= 3.0.10
gunicorn >= 20.1.0
flask-marshmallow >= 0.15.0
marshmallow-sqlalchemy >= 0.29.0
numpy >= 1.24.3
pytest >= 7.3.1
postman_api >= 3.0.0
pymysql >= 1.0.3
pandas >= 2.0.2