{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
EasyGrade
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='w3.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <nav class="w3-sidebar w3-white w3-animate-top w3-xxlarge" style="display:none;padding-top:150px;top:0;z-index:2" id="mySidebar">
      <a href="javascript:void(0)" onclick="closeNav()" class="w3-button w3-range w3-xxlarge w3-display-topright" style="top:10%">
        <i class="fa fa-remove"></i>
      </a>
      <div class="w3-bar-block w3-center">
        <a href="/instructor_dashboard" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Overview</a>
        <a href="/instructor_project" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Project</a>
        <a href="/create_project" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Create Project</a>
        <hr class="w3-border-grey" style="margin:auto;width:60%">
        <a href="/account" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Account</a>
        <a href="/project_profile_jumptool" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Profile</a>
        <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Log out</a>
      </div>
    </nav>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">EasyGrade</a>
        </div>
          <div id="navbar" class="navbar-collapse collapse">
              <span class="w3-button w3-top w3-white w3-large w3-text-grey w3-hover-text-black" style="width:auto;left: 45%;right: 45%;" onclick="openNav()"><i class="fa fa-bars"></i></span>
          </div>
      </div>
</nav>

    <div class="container w3-row-padding" style="right: 5%;left: 5%">
      <div class="row">
          <h1 class="page-header w3-text-orange w3-padding-16">Create project</h1>
            <div id="project_create" class="w3-container w3-white w3-padding-16 myLink">
                <h3 class="w3-text-grey">notions for creating new project</h3>
                <ul class="w3-ul">
                    <li>* Provide a project name</li>
                    <li>* Upload the student file</li>
                    <li>* Prepare a json file in TW format</li>
                </ul>
            </div>
          <div class="w3-container w3-card w3-white w3-margin-bottom">
              <div class="w3-row-padding w3-margin">
                <form action="/create_project" method="POST" enctype = "multipart/form-data">
        {#                    <p>Project Name <input class="w3-input w3-padding-16 w3-border" type="text" name="project_name"/></p>#}
        {#                    <p>Group file <input class="w3-input w3-padding-16 w3-border" type="file" name="group_file"/></p>#}
        {#                    <p>Grading Criteria<input class="w3-input w3-padding-16 w3-border" type="file" name="grading_criteria"/></p>#}
                        {{ form.hidden_tag() }}
                        {{ wtf.form_field(form.project_name) }}
                        {{ wtf.form_field(form.project_description) }}
                        {{ wtf.form_field(form.student_file) }}
                        {{ wtf.form_field(form.grading_criteria) }}
                        <button class="w3-button w3-light-grey" type="submit">submit</button>
                    <br>
                </form>
              </div>
          </div>
      </div>
    </div>
<script>
    // Open and close sidebar
    function openNav() {
      document.getElementById("mySidebar").style.width = "100%";
      document.getElementById("mySidebar").style.display = "block";
    }

    function closeNav() {
      document.getElementById("mySidebar").style.display = "none";
    }
</script>
{% endblock %}