{% extends "bootstrap/base.html" %}

{% block title %}
EasyGrade
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='w3.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <nav class="w3-sidebar w3-white w3-animate-top w3-xxlarge" style="display:none;padding-top:150px;top:0;z-index:2" id="mySidebar">
      <a href="javascript:void(0)" onclick="closeNav()" class="w3-button w3-range w3-xxlarge w3-display-topright" style="top:10%">
        <i class="fa fa-remove"></i>
      </a>
      <div class="w3-bar-block w3-center">
        <a href="/instructor_dashboard" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Overview</a>
        <a href="/instructor_project" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Project</a>
        <a href="/create_project" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Create Project</a>
        <hr class="w3-border-grey" style="margin:auto;width:60%">
        <a href="/account" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Account</a>
        <a href="/project_profile" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Profile</a>
        <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Log out</a>
      </div>
    </nav>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">EasyGrade</a>
        </div>
{#        <div id="navbar" class="navbar-collapse collapse">#}
{#          <ul class="nav navbar-nav navbar-right">#}
{#            <li><a href="/instructor_dashboard">Dashboard</a></li>#}
{#            <li><a href="/account">Account</a></li>#}
{#            <li><a href="/project_profile">Profile</a></li>#}
{#            <li><a href="/Notification">Notification</a></li>#}
{#            <li><a href="{{ url_for('logout') }}">Log Out</a></li>#}
{#          </ul>#}
{#          <form class="navbar-form navbar-right">#}
{#            <input type="text" class="form-control" placeholder="Search...">#}
{#          </form>#}
          <div id="navbar" class="navbar-collapse collapse">
              <span class="w3-button w3-top w3-white w3-large w3-text-grey w3-hover-text-black" style="width:auto;left: 45%;right: 45%;" onclick="openNav()"><i class="fa fa-bars"></i></span>
          </div>
      </div>
    </nav>
    <div class="container w3-row-padding" style="left: 5%;right: 5%">
      <div class="row">
{#        <div class="col-sm-3 col-md-2 sidebar ">#}
{#          <ul class="nav nav-sidebar">#}
{#            <li class="active"><a data-toggle="sidebar" href="/instructor_dashboard">Overview <span class="sr-only">(current)</span></a></li>#}
{#            <li><a data-toggle="sidebar" href="/instructor_project">Project</a></li>#}
{#            <li><a data-toggle="sidebar" href="#">Grade</a></li>#}
{#            <li><a data-toggle="sidebar" href="#">Export</a></li>#}
{#          </ul>#}
{#        </div>#}
{#        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">#}
          <h1 class="page-header">Welcome, {{ name }}</h1>

          <h2 class="sub-header w3-text-orange w3-padding-16">Project title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
            {% if project_len == 0 %}
                <p>No project has been created yet, Go start one at Project section !</p>
            {% else %}
              <thead>
                  <tr>
                      <th>Project Name</th>
                  </tr>
              </thead>
              <tbody>
                  {% for project in project_list %}
                      <tr>
                          <td>{{ project }}</td>
                      </tr>
                  {% endfor %}
              </tbody>
            {% endif %}
            </table>
          </div>
        </div>
      </div>
{#    </div>#}
<script>
// Open and close sidebar
function openNav() {
  document.getElementById("mySidebar").style.width = "100%";
  document.getElementById("mySidebar").style.display = "block";
}

function closeNav() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
{% endblock %}