{% extends "bootstrap/base.html" %}

{% block title %}
EasyGrade
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='w3.css')}}">
<style>
.myLink {display: none}
</style>
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/instructor_dashboard">Dashboard</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="project_profile">Profile</a></li>
            <li><a href="/Notification">Notification</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a data-toggle="sidebar" href="/instructor_dashboard">Overview <span class="sr-only">(current)</span></a></li>
            <li  class="active"><a data-toggle="sidebar" href="/instructor_project">Project</a></li>
            <li><a data-toggle="sidebar" href="#">Grade</a></li>
            <li><a data-toggle="sidebar" href="#">Export</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Project</h1>
            <div class="w3-bar w3-white">
              <button class="w3-bar-item w3-button tablink" style="width: 400px" onclick="openLink(event, 'project-display');"><i class="w3-margin-right"></i>Project</button>
              <button class="w3-bar-item w3-button tablink" style="width: 400px" onclick="openLink(event, 'project_create');"><i class="w3-margin-right"></i>Create New Project</button>
            </div>

            <!-- Links -->
            <div id="project-display" class="w3-container w3-white w3-padding-16 myLink">
                <div class="w3-card w3 margin w3-container w3-round">
                <h3>personal project</h3>
                {% if personal_project_len == 0 %}
                    <p>No project has been created yet, Go start one at Project section !</p>
                {% else %}
                    <ul class="w3-ul">
                        <li style="font-weight: bold">
                            <p>Project Name</p>
                        </li>
                      {% for project in personal_project_list %}
                          <li><a href="/load_project/{{ project.project_id }}/Connect to Project Successfully">{{ project.project }}</a></li>
                      {% endfor %}
                    </ul>
                {% endif %}
                </div>
                <br>
                <br>
                <div class="w3-card w3 margin w3-container w3-round">
                <h3>shared project</h3>
                {% if shared_project_len == 0 %}
                    <p>No project has been shared</p>
                {% else %}
                    <ul class="w3-ul">
                        <li style="font-weight: bold">
                            <p>Project Name</p>
                        </li>
                      {% for project in shared_project_list %}
                          <li><a href="/load_project/{{ project.project_id }}/Connect to Project Successfully">{{ project.project }}</a></li>
                      {% endfor %}
                    </ul>
                {% endif %}
                </div>
            </div>
            <div id="project_create" class="w3-container w3-white w3-padding-16 myLink">
                <h1 class="w3-text-black">notions for creating new project</h1>
                <ul class="w3-ul">
                    <li>Provide a project name</li>
                    <li>upload the group file in xlsx form</li>
                    <li>prepare a json file (TW format)</li>
                </ul>
                <a href="create_project" class="w3-button w3-light-grey">Now Let's create a new project</a>
            </div>
        </div>
      </div>
    </div>

    <script>
    // Tabs
    function openLink(evt, linkName) {
      var i, x, tablinks;
      x = document.getElementsByClassName("myLink");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < x.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" w3-blue", "");
      }
      document.getElementById(linkName).style.display = "block";
      evt.currentTarget.className += " w3-blue";
    }

    // Click on the first tablink on load
    document.getElementsByClassName("tablink")[0].click();
    </script>
{% endblock %}