{% extends "bootstrap/base.html" %}

{% block title %}
EasyGrade
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='w3.css')}}">
{#<link rel="stylesheet" href="{{url_for('.static', filename='dropdown.css') }}">#}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>#}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.js"></script>
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/instructor_dashboard">Dashboard</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/project_profile">Profile</a></li>
            <li><a href="/Notification">Notification</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar ">
          <ul class="nav nav-sidebar">
            <li class="active"><a data-toggle="sidebar" href="/instructor_dashboard">Overview <span class="sr-only">(current)</span></a></li>
            <li><a data-toggle="sidebar" href="/instructor_project">Project</a></li>
            <li><a data-toggle="sidebar" href="#">Grade</a></li>
            <li><a data-toggle="sidebar" href="#">Export</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <ul class ="nav nav-tabs">
                  <li class = "active"><a data-toggle="tab" href="#project_list">project_list</a> </li>
                  {% for project in project_list %}
{#                      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ project }}<span class="caret"></span></a>#}
{#                          <ul class="dropdown-menu">#}
{#                            <li><a href="#{{ project }}">Manage the project</a></li>#}
{#                            <li><a href="#">Manage the group</a></li>#}
{#                          </ul>#}
{#                      </li>#}
                       <li><a data-toggle="tab" href="#{{ project.project }}">{{ project.project }}</a> </li>
                  {% endfor %}
              </ul>
        <div class="tab-content">
            <div id="project_list" class = "tab-pane fade in active">
                <h4>{{ msg }}</h4>
                <h2>
                    Instructions:
                </h2>
                <ul>
                    <li>All the projects are listed in the tabs</li>
                    <li>Click on the tab to manage the project</li>
                    <li>The last row of evaluation table is to delete the entire project</li>
                </ul>
            </div>
            {% for project in project_list %}
              <div id="{{ project.project }}" class = "tab-pane fade ">
                <h2>Manage the evaluations</h2>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    Evaluation Name
                                </th>
                                <th>
                                    Owned by
                                </th>
                                <th>
                                    Modify
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for evaluation in project_set_map[project.project] %}
                            <tr>
                            <td>{{ evaluation }}</td>
                            <td>
                                <select id="owner" name="owner">
                                  {% for owner in project_dic_map[project.project][evaluation] %}
                                    <option value={{ owner }} >{{ owner }}</option>
                                  {% endfor %}
                                </select>
                            </td>
{#                            location.href=this.href+owner; #}
                            <td><a id="delete_eva" class="btn btn-warning" onclick="return confirm('Do you want to delete this evaluation?')">delete</a> </td>
                            <script>
                                 var owner = document.getElementById("owner").value;
                                 var href = "/delete_eva/{{ project.project_id }}/{{ evaluation }}/" + owner;
                                 document.getElementById("delete_eva").setAttribute("href", href)
                            </script>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                <br>
                    <h2>Delete the whole project</h2><br>
                    <a href="/delete_project/{{ project.project_id }}" class="btn btn-warning" style="background-color: red; width: 300px" onclick="return confirm('Do you want to delete this project?')">Warning ! Delete the project</a>
                <br>
                    <h2> Grant Permission</h2><br>
                         <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    Share To
                                </th>
                                <th>
                                    Authority
                                </th>
                                <th>
                                    Modify
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for permission in shareTo_permission[project.project] %}
                            <form action="/update_permission/{{ permission.project_id }}" method="post">
                            <tr>
                            <td>{{ permission.shareTo }}</td>
                            <td>
                                <select id="authority" name="authority">
                                    <option value="edit" >edit</option>
                                    <option value="overwrite" >overwrite</option>
                                </select>
                            </td>
                            <td><input type="submit" class="btn btn-warning" onclick="return confirm('Do you want to update the permission?')">update</td>
                            </tr>
                            </form>
                        {% endfor %}
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td><button class="w3-button w3-light-grey btn btn-primary btn-md" data-toggle="modal" data-target="#CNP">Create new Permission to Share your project</button></td>
                            <div class="modal fade" id="CNP" tabindex="-1" role="dialog" aria-labelledby="emailLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="emailLabel">Share your project</h4>
                                        </div>
                                        <form class="form-signin" action="/create_permission/{{ project.project_id }}" method="post">
                                            <input id="owner_submit" name="owner_submit" hidden>
                                            <div class="modal-body">
                                                <p><input class="w3-input w3-padding-16 w3-border" type="text" name="username">User Name</p>
                                                <select id="authority" name="authority">
                                                    <option value="edit" >edit</option>
                                                    <option value="overwrite" >overwrite</option>
                                                </select>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                                                <button type="submit" class="btn btn-primary">Share!</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        </tbody>
                    </table>
              </div>
        {% endfor %}
        </div>
        </div>
      </div>
    </div>
<script>
 var authority = document.getElementById("authority").value;
</script>
{% endblock %}