{% extends "bootstrap/base.html" %}

{% block title %}
EasyGrade
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='w3.css')}}">
{#<link rel="stylesheet" href="{{url_for('.static', filename='dropdown.css') }}">#}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>#}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <nav class="w3-sidebar w3-white w3-animate-top w3-xxlarge" style="display:none;padding-top:150px;top:0;z-index:2" id="mySidebar">
      <a href="javascript:void(0)" onclick="closeNav()" class="w3-button w3-range w3-xxlarge w3-display-topright" style="top:10%">
        <i class="fa fa-remove"></i>
      </a>
      <div class="w3-bar-block w3-center">
        <a href="/instructor_dashboard" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Overview</a>
        <a href="/instructor_project" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Rubric</a>
        <a href="/create_project" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Create New Rubric</a>
        <hr class="w3-border-grey" style="margin:auto;width:60%">
        <a href="/account" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Account</a>
        <a href="/project_profile_jumptool" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Profile</a>
        <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-text-grey w3-hover-orange" onclick="closeNav()">Log out</a>
      </div>
    </nav>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">EasyGrade</a>
        </div>
          <div id="navbar" class="navbar-collapse collapse">
              <span class="w3-button w3-top w3-white w3-large w3-text-grey w3-hover-text-black" style="width:auto;left: 45%;right: 45%;" onclick="openNav()"><i class="fa fa-bars"></i></span>
          </div>
      </div>
    </nav>

    <div class="container w3-row-padding" style="left: 5%;right: 5%">
      <div class="row">
      <br>
      <div style="padding: 10px; border: thin solid orange;">
        <h2>Evaluations</h2>
            {% for evaluation in set_of_eva %}
            <div style="overflow-x:auto;">
            <div class="panel panel-default">
                <div class="panel-heading"><p class="h3">{{ evaluation }}</p><a href="/sendEmail/{{ project.project_id }}/{{ evaluation }}" class="btn btn-primary">Send Email</a>
</div>
            <div class="panel-body">
                <div style="padding: 5px;  border: thin solid #757575">
                    <p class="h4">You have graded {{ dic_of_choosen[evaluation].3 | length }} groups out of {{ dic_of_choosen[evaluation].5 | length }}</p><a href="javascript:void(0)" style="font-weight: bold" onclick=closeCategory2('{{ evaluation }}hidegradegroups')> see details<i class="fa fa-angle-down"></i></a>
                    <div id="{{ evaluation }}hidegradegroups" style="display: none">
                    {% for meta in meta_list %}
                        <p>Meta Group {{ meta }} : graded {{ (dic_of_choosen[evaluation].0)[meta] | length }} out of {{ (dic_of_choosen[evaluation].2)[meta] | length }}</p>
                        {% for group in (dic_of_choosen[evaluation].0)[meta] %}
                            <a class="btn btn-success" href="/jump_to_evaluation_page/{{ project.project_id }}/{{ evaluation }}/{{ meta }}/{{ group }}/Connected to group{{ group }}">{{ group }} </a>
                        {% endfor %}
                        <hr class="w3-border-grey" style="margin:auto;width:100%">
                    {% endfor %}
                    </div>
                </div>
            <br><br>
                <div style="padding: 5px; border: thin solid #757575">
                    <p class="h4">You haven't graded {{ dic_of_choosen[evaluation].4 | length }} groups out of {{ dic_of_choosen[evaluation].5 | length }}</p><a href="javascript:void(0)" style="font-weight: bold" onclick=closeCategory2('{{ evaluation }}hidenogradegroups')> see details<i class="fa fa-angle-down"></i></a>
                    <div id="{{ evaluation }}hidenogradegroups" style="display: block">
                        {% for meta in meta_list %}
                        <p>Meta Group {{ meta }} : haven't graded {{ (dic_of_choosen[evaluation].1)[meta] | length }} out of {{ (dic_of_choosen[evaluation].2)[meta] | length }}</p>
                        {% for group in (dic_of_choosen[evaluation].1)[meta] %}
                            <a class="btn btn-warning" href="/jump_to_evaluation_page/{{ project.project_id }}/{{ evaluation }}/{{ meta }}/{{ group }}/Connected to group{{ group }}">{{ group }} </a>
                        {% endfor %}
                        <hr class="w3-border-grey" style="margin:auto;width:100%">
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="panel-foot"><a href="javascript:void(0)" id="openup" onclick="closeCategory('{{ evaluation }}')"><li class="cateNames" style="float:left; margin-left:20px">Display all details</li>
{#                                    <i class="fa fa-angle-down"></i></a><span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspYou have chosen: <span id="{{ evaluation }}|choosen" class="selectedDisplay">0</span>&nbspout of&nbsp<span id="{{ evaluation }}|all" class="selectedDisplay">0</span></span>#}
                                                <i class="fa fa-angle-down"></i></a>
            </div>
                <div id="{{ evaluation }}hidetable" style="display: none; overflow:auto ">
                <table class="table table-responsive">
                <thead>
                    <tr>
                        {% for tag in tags %}
                            <th>
                                {{ tag }}
                            </th>
                        {% endfor %}
                            <th>
                                modify
                            </th>
                    </tr>
                </thead>
                <tbody>
                {% for eva_row in dic_of_eva[evaluation] %}
                    <tr>
                    {% for key, values in eva_row.items() %}
                        {% if (key != "group_id") and (key != "eva_name") and (key != "owner") and (key != "date") and (key != "students") and (key != "last_updates") %}
                        {% if (values is not none) and (values != " ") and (values != "") %}
                        <td><span>&#10003;</span></td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% else %}
                        <td>{{ values }}</td>
                        {% endif %}
                    {% endfor %}
                    <td><a href="/delete_eva/{{ project.project_id }}/{{ evaluation }}/{{ eva_row['group_id'] }}/{{ eva_row['owner'] }}/{{ eva_row['date'] }}" id="delete_eva" class="btn btn-warning" onclick="return confirm('Do you want to delete this evaluation?')">delete</a> </td>
{#                    <script>#}
{#                        function delete_eva() {#}
{#                            var group = document.getElementById("{{ evaluation }}group").value;#}
{#                            var grader = document.getElementById("{{ evaluation }}grader").value;#}
{#                            var datetime = document.getElementById("{{ evaluation }}datetime").value;#}
{#                            var href = "/delete_eva/{{ project.project_id }}/{{ evaluation }}/" + group + "/" + grader + "/" + datetime;#}
{#                            document.getElementById("delete_eva").setAttribute("href", href)#}
{#                        }#}
{#                    </script>#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <div id="{{ evaluation }}hidebar" style="display: none"><a href="javascript:void(0)" onclick="closeCategory('{{ evaluation }}')"><i class="fa fa-angle-up"></i></a></div>
            </div>
            </div>
            {% endfor %}
        <br>

      </div>

      <br>
      <div style="padding: 10px; border: thin solid orange;" >
    <h2>Permission</h2>
      <h4>Give permission of this project to other users</h4>
      <h4>Manage the permission you have granted</h4>
                 <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                            Share To
                        </th>
                        <th>
                            Authority
                        </th>
                        <th>
                            Modify
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for permission in list_of_shareTo_permission %}
                    <form action="/update_permission/{{ permission.project_id }}" method="post">
                    <tr>
                    <td>{{ permission.shareTo }}</td>
                    <td>
                        <select id="authority" name="authority">
                            <option value="edit" >edit</option>
                            <option value="overwrite" >overwrite</option>
                        </select>
                    </td>
                    <td>
                        <input name="submit" type="submit" class="btn btn-warning" value="update" onclick="return confirm('Do you want to update the permission?')">
                        <input name="submit" type="submit" class="btn btn-warning" value="delete" onclick="return confirm('Do you want to delete the permission?')">
                    </td>
                    </tr>
                    </form>
                {% endfor %}
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td><button class="w3-button w3-light-grey btn btn-primary btn-md" data-toggle="modal" data-target="#CNP">Create new Permission to Share your Rubric</button></td>
                    <div class="modal fade" id="CNP" tabindex="-1" role="dialog" aria-labelledby="emailLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="emailLabel">Share your Rubric</h4>
                                </div>
                                <form class="form-signin" action="/create_permission/{{ project.project_id }}" method="post">
                                    <input id="owner_submit" name="owner_submit" hidden>
                                    <div class="modal-body">
                                        <p><input class="w3-input w3-padding-16 w3-border" type="text" name="username">User Name</p>
                                        <select id="authority" name="authority">
                                            <option value="edit" >edit</option>
                                            <option value="overwrite" >overwrite</option>
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                                        <button type="submit" class="btn btn-primary">Share!</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </tr>
                </tbody>
            </table>
            <br>
      </div>
        <br>
            <div style="padding: 10px; border: thin solid orange;">
            <h2>Group</h2>
            <h4>Manage the students' information. ex. Change students' email, Switch groups</h4>
            <form action="/management_group/{{ project.project_id }}" method="post" name="management-group-form" id="management-group-form">
            <table class="table table-responsive">
                <thead>
                <tr>
                {% for cell in management_groups[0] %}
                    <th>{{ cell }}</th>
                {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in management_groups[1:] %}
                <tr>
                    <td>{{ row[0] }}</td>
                    {% for cell in row[1:] %}
                    <td>
                    {% if cell is none %}
                        <input name="{{ row[0] }}{{ loop.index }}" type="email">
                    {% else %}
                        <input name="{{ row[0] }}{{ loop.index }}" type="email" value="{{ cell }}">
                    {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
          <button name="submit_button" class="btn btn-primary" type="submit" data-component="button">update group</button>
            </form>
            </div>
      </div>
    </div>
<script>
 var authority = document.getElementById("authority").value;
</script>
<script>
// Open and close sidebar
function openNav() {
  document.getElementById("mySidebar").style.width = "100%";
  document.getElementById("mySidebar").style.display = "block";
}

function closeNav() {
  document.getElementById("mySidebar").style.display = "none";
}

function openCategory(id) {
  {#document.getElementById(id).style.width = "100%";#}
  var footerid = id + "footer"
  document.getElementById(id).style.display = "block";
  document.getElementById(footerid).style.display = "block";
}

function closeCategory(id) {
    var tableid = id + "hidetable"
    var barid = id + "hidebar"
    if (document.getElementById(tableid).style.display != "none"){
    document.getElementById(tableid).style.display = "none";
    document.getElementById(barid).style.display = "none";
    }else{
    document.getElementById(tableid).style.display = "block";
    document.getElementById(barid).style.display = "block";
    }
}
function closeCategory2(id) {
    if (document.getElementById(id).style.display != "none"){
    document.getElementById(id).style.display = "none";
    }else{
    document.getElementById(id).style.display = "block";
    }
}

</script>
<script>
    function init(){

    }
    init();
</script>
{% endblock %}